body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
    background: #fff5f7;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding: 20px 0;
}

.header h1 {
    font-size: 55px;
    color: #c76b98;
    margin: 0;
    cursor: pointer;
    font-weight: normal;
}

p {
    color: #000000;
    margin: 0;
    cursor: pointer;
    font-weight: normal;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 30px;
    margin-bottom: 15px;
}

.navbar button {
    background: none;
    border: none;
    font-size: 22px;
    color: #8d7a84;
    cursor: pointer;
    transition: 0.3s;
}

.navbar button:hover {
    color: #c76b98;
}


h2 {
    color: #c76b98;
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: normal;
}


.contact-me {
    border: 1px solid #f3c6d6;
    margin-top: 20px;
    background: #fff0f5;
    text-align: center;
    padding: 30px 0;
}

input,
textarea {
    width: 60%;
    padding: 14px;
    margin: 10px;
    border: 1px solid #f3c6d6;
    outline: none;
    font-size: 15px;
    background: white;
    color: #7a7075;
}

textarea {
    height: 100px;
    resize: none;
}

input:focus,
textarea:focus {
    border-color: #c76b98;
}




